@font-face {
  font-family: Inter;
  src: url("./fonts/Inter-VariableFont_opsz\,wght.woff2");
}
@font-face {
  font-family: Comfortaa;
  src: url(./fonts/Comfortaa-VariableFont_wght.woff2);
}

:root {
  --bg: hsl(0, 0%, 90%);
  --bg-dark: hsl(222, 19%, 20%);
  --bg-light: hsl(0, 0%, 100%);
  --plum: hsl(234, 97%, 86%);
  --text-dark: hsl(0, 0%, 0%);
  --text-light: hsl(0, 0%, 100%);
  --font-a: Inter;
  --font-b: Comfortaa;
  --gr: 1.168;
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

button {
  all: unset;
  cursor: pointer !important;
}

main {
  background: var(--bg);
  height: 100%;
  width: 100%;
  position: relative;
}

.container {
  height: 95%;
  width: 70%;
  background-color: var(--bg-light);
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 3rem;
  display: grid;
  overflow: hidden;
  grid-template-columns: 45% 1fr 1fr;
  grid-template-rows: 10% 47% 42%;
  padding: calc((1rem * var(--gr)) * 1.5);
  gap: 0rem 1rem;
  .item {
    height: 100%;
    width: 100%;
    align-self: center;
    justify-self: center;
    border-radius: 3rem;
    &:nth-child(1) {
      grid-area: 1/ 1/ 2/ 4;
    }
    &:nth-child(2) {
      height: 112%;
      position: relative;
      top: 2.8rem;
      grid-area: 2/ 1/ 3/ 2;
    }
    &:nth-child(3) {
      grid-area: 2/ 2/ 3/ 4;
      height: 94%;
    }
    &:nth-child(4) {
      grid-area: 3/ 1/ 4/ 2;
    }
    &:nth-child(5) {
      grid-area: 3/ 2/ 4/ 3;
    }
    &:nth-child(6) {
      grid-area: 3/ 3/ 4/ 4;
    }
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    color: var(--text-dark);
    height: 5rem;
    padding: 0rem 1rem;
    svg {
      height: auto;
      width: 1rem;
      scale: 2;
      position: relative;
    }
    span {
      font-family: var(--font-b);
      font-size: calc((1rem * var(--gr)) * (2));
      font-weight: 900;
    }
  }
  .nav-group {
    display: flex;
    font-family: var(--font-a);
    font-weight: 400;
    font-size: calc((1rem * var(--gr)));
    justify-content: space-between;
    gap: 1.5rem;
    align-items: center;
    a {
      color: var(--text-dark);
      text-decoration: none;
    }
  }
  .button-group {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: calc((1rem * var(--gr)));
    button {
      padding: 0.5rem 0.5rem;
      font-family: var(--font-a);
      &:nth-child(1) {
        font-size: calc((1rem * var(--gr)));
        font-weight: 700;
        color: var(--text-dark);
      }
      &:nth-child(2) {
        font-size: calc((1rem * var(--gr)) * (1.1));
        font-weight: 500;
        color: var(--text-light);
        background-color: var(--bg-dark);
        border-radius: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        text-transform: uppercase;
        padding: 1rem 1rem;
        i {
          background-color: var(--plum);
          font-size: calc((1rem * var(--gr)) * (1));
          border-radius: 50px;
          font-weight: 300;
          padding: 2px 2px;
          scale: 1.7;
          color: var(--text-dark);
        }
      }
    }
  }
}

#para-button-group {
  display: flex;
  padding: 0rem 3rem;
  justify-content: center;
  align-items: center;
  div {
    color: var(--text-dark);
    font-family: var(--font-b);
    font-size: calc((1rem * var(--gr)) * 4.5);
    font-weight: 900;
    line-height: 1.3;
    word-wrap: nowrap;
    p {
      display: inline;
    }
    span {
      display: inline-block;
      background: url("https://images.unsplash.com/photo-1675959449410-fbf63a4c6ad8?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1332");
      background-size: cover;
      background-position: center;
      height: 4rem;
      width: 10rem;
      border-radius: 5rem;
    }
    button {
      position: relative;
      padding: 0.8rem 1rem;
      font-size: calc((1rem * var(--gr)) * (1));
      bottom: 1.4rem;
      border-radius: 5rem;
      border: 1px solid var(--bg-dark);
      text-transform: uppercase;
      i {
        font-size: calc((1rem * var(--gr)) * (1.2));
        font-weight: 100;
      }
    }
  }
}

#big-img {
  background: url("https://images.unsplash.com/photo-1760008487153-13c902940fc2?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1332");
}

#img-left {
  background: url("https://images.unsplash.com/photo-1730472528739-6b4c079085aa?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1332");
}

#img-right {
  background: url("https://images.unsplash.com/photo-1730472528691-e4624742c103?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1332");
}

#big-img,
#img-right,
#img-left {
  border-radius: 3rem;
  background-size: cover;
  background-position: center;
}

#sponsor {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  z-index: 10;
  .contact-button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      padding: 1rem 2rem;
      border-radius: 5rem;
      font-family: var(--font-a);

      &:nth-child(1) {
        text-transform: uppercase;
        font-size: calc(((1rem * var(--gr)) * (1.2)));
        background-color: var(--bg-dark);
        color: var(--text-light);
        font-weight: 300;
      }
      &:nth-child(2) {
        color: var(--text-dark);
        text-decoration: underline;
      }
    }
  }
  p {
    margin-top: auto;
    font-size: calc(((1rem * var(--gr)) * (1)));
    width: 70%;
    margin-bottom: 4rem;
    font-family: var(--font-a);
  }
  .sponsor-group {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      height: 40%;
    }
  }
}
